@font-face {
  font-family: opensans;
  src: url(/fonts/opensans.ttf?d2a705b59e370eaa5d145962f3b1ade1);
}

@font-face {
  font-family: 'decorfont';
  src: url(/fonts/tt1018m_.ttf?01dcb77c9a956339628b370986fd6b56);
}

@font-face {
  font-family: 'raleway';
  src: url(/fonts/Raleway-Medium.ttf?fa56e8c122bb66dbcb913e416bb54c97);
}

.notification {
  z-index: 250;
  position: fixed;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  background: linear-gradient(135deg, #36393F, #1c1c1c);
  text-align: center;
  color: #E88C01;
  font-size: 13px;
  font-family: opensans;
  padding: 15px;
}

@media screen and (max-width: 800px) {
  .notification {
    position: fixed;
    left: 400px;
    margin-left: -100px;
    width: 200px;
    background: linear-gradient(135deg, #36393F, #1c1c1c);
    text-align: center;
    color: #E88C01;
    font-size: 13px;
    font-family: opensans;
    padding: 15px;
  }
}

.auth {
  width: 100vw;
  height: 100vh;
  background: url(http://widefon.com/_ld/156/79476541.jpg);
}

.auth .title-block-auth {
  background: -webkit-gradient(linear, left top, left bottom, from(#36393F), to(#1c1c1c));
  background: linear-gradient(180deg, #36393F, #1c1c1c);
  padding-top: 10px;
}

.auth .title-auth-form {
  text-align: center;
  padding-bottom: 10px;
}

@media screen and (max-width: 700px) {
  .auth .login {
    background: linear-gradient(135deg, #36393F, #1c1c1c);
    position: absolute;
    width: 240px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-110%, -50%);
            transform: translate(-110%, -50%);
  }

  .auth .registration {
    background: linear-gradient(135deg, #36393F, #1c1c1c);
    position: absolute;
    width: 240px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(10%, -50%);
            transform: translate(10%, -50%);
  }
}

@media screen and (min-width: 700px) {
  .auth .login {
    background: linear-gradient(135deg, #36393F, #1c1c1c);
    position: absolute;
    width: 240px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-130%, -50%);
            transform: translate(-130%, -50%);
  }

  .auth .registration {
    background: linear-gradient(135deg, #36393F, #1c1c1c);
    position: absolute;
    width: 240px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(30%, -50%);
            transform: translate(30%, -50%);
  }
}

.auth .form-field {
  padding: 10px;
  border: 1px solid white;
  background: #1c1c1c;
  border-radius: 5px;
  color: white;
  width: 180px;
  margin-left: 20px;
  margin-top: 10px;
}

.auth .error-message {
  margin-left: 30px;
  font-size: 12px;
  color: #E88C01;
  font-family: opensans;
}

.auth .submit-button-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
}

.auth .submit-button-block button {
  border: none;
  background: #E88C01;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
  padding: 10px;
  margin: auto;
  cursor: pointer;
}

.auth .submit-button-block button:hover {
  background: #DDDDDD;
  color: black;
}

.visible {
  display: block !important;
}

.unvisible {
  display: none !important;
}

.sidebar-main {
  width: 260px;
  height: 100vh;
  background: linear-gradient(135deg, #36393F, #1c1c1c);
  position: fixed;
}

.scroll-black-content {
  padding-bottom: 160px;
}

.sidebar-head {
  padding: 13px 20px;
  color: #DDDDDD;
  background: -webkit-gradient(linear, left top, left bottom, from(#FD9105), to(#CB7B02));
  background: linear-gradient(180deg, #FD9105, #CB7B02);
}

.sidebar-head .username {
  color: inherit;
  font-size: 20px;
  font-family: opensans;
}

.sidebar-head .logout {
  font-size: 10px;
  background: black;
  color: white;
  border-radius: 0 0 5px 5px;
  padding: 2px 5px;
  width: 30px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 20px;
}

.sidebar-head .icons {
  float: right;
  margin-top: -28px;
  font-size: 25px;
}

.sidebar-head .icons .update-marker-friendship-list {
  background: white;
  width: 10px;
  height: 5px;
  border-radius: 0 0 5px 5px;
  position: absolute;
  right: 30px;
}

.sidebar-head .icons span {
  cursor: pointer;
  margin-left: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidebar-head .icons span:hover {
  color: white;
}

.frienship-requests-block {
  position: absolute;
  top: 0;
  background: linear-gradient(135deg, #36393F, #1c1c1c);
  width: 260px;
  height: 205px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
}

.frienship-requests-block .caption-friendsip-requests {
  padding: 5px 5px 0px 5px;
  color: #E88C01;
  font-family: opensans;
  font-size: 12px;
}

.frienship-requests-block .underline-orange {
  height: 1px;
  margin: 5px;
  background: #E88C01;
}

.frienship-requests-block .some-frienship-request li {
  background-color: #E88C01;
  color: white;
  font-family: opensans;
  font-size: 15px;
  padding: 10px;
  margin: 5px;
}

.frienship-requests-block .some-frienship-request li .response-on-friendship-request {
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  float: right;
  font-size: 12px;
}

.frienship-requests-block .some-frienship-request li .response-on-friendship-request .response-action {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.frienship-requests-block .some-frienship-request li .response-on-friendship-request .response-action:hover {
  color: #DDDDDD;
}

.search-friends {
  padding: 20px;
}

.search-friends input {
  padding: 10px;
  border: 1px solid white;
  background: #1c1c1c;
  border-radius: 5px;
  color: white;
  height: 17px;
  border-radius: 5px 0 0 5px !important;
  width: 158px;
}

.search-friends button {
  border: none;
  background: #E88C01;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 39px;
  width: 42px;
  position: absolute;
  left: 200px;
  border-radius: 0 5px 5px 0;
}

.search-friends button:hover {
  background: #DDDDDD;
  color: black;
}

.search-friends .search-matches-list {
  font-size: 15px;
  position: absolute;
  color: black;
  background: white;
  z-index: 200;
  top: 110px;
  width: 180px;
  font-family: opensans;
}

.search-friends .search-matches-list ul li {
  padding: 5px;
  margin: 2px;
  cursor: pointer;
}

.search-friends .search-matches-list ul li:hover {
  color: white;
  background: #E88C01;
}

.contacts {
  color: #DDDDDD;
}

.contacts .title {
  padding: 20px;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#36393F), to(#1c1c1c));
  background: linear-gradient(180deg, #36393F, #1c1c1c);
  color: #E88C01 !important;
}

.contacts .title h3 {
  font-size: 12px;
}

.contacts .title .arrow-up {
  position: absolute;
  left: 220px;
  margin-top: -22px;
  font-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.contacts .title .arrow-down {
  position: absolute;
  left: 220px;
  margin-top: -22px;
  font-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.contacts .list {
  background: #DDDDDD;
  color: black;
  border-right: 2px solid #36393F;
  border-left: 2px solid #36393F;
}

.contacts .list ul .active-connect {
  border-left: 4px solid #E88C01;
  padding-left: 6px !important;
}

.contacts .list ul li {
  padding: 10px 20px;
  font-family: opensans;
  font-size: 12px;
  cursor: pointer;
}

.contacts .list ul li:hover {
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  color: #E88C01;
}

.right-contacts-li-element {
  float: right;
}

.notice-new {
  margin-right: 10px;
  margin-top: -5px;
  padding: 5px;
  float: right;
  background: #E88C01;
  color: #36393F;
}

.online-status {
  margin-right: 3px;
  margin-top: 3px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  float: right;
  background: #E88C01;
}

.offline-status {
  margin-right: 3px;
  margin-top: 3px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  float: right;
  background: gray;
}

.chat {
  min-width: 100vw;
  min-height: 100vh;
  background: url(http://widefon.com/_ld/156/79476541.jpg);
  background-attachment: fixed;
}

.message {
  width: 500px;
  height: 100px;
  background: white !important;
  color: black;
  margin-top: 600px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: opensans;
}

body {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

