@font-face {
  font-family: opensans;
  src: url(/fonts/opensans.ttf?d2a705b59e370eaa5d145962f3b1ade1);
}

@font-face {
  font-family: 'decorfont';
  src: url(/fonts/tt1018m_.ttf?01dcb77c9a956339628b370986fd6b56);
}

@font-face {
  font-family: 'raleway';
  src: url(/fonts/Raleway-Medium.ttf?fa56e8c122bb66dbcb913e416bb54c97);
}

.notification {
  z-index: 10000;
  position: fixed;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  background: linear-gradient(135deg, #36393F, #1c1c1c);
  text-align: center;
  color: #E88C01;
  font-size: 13px;
  font-family: opensans;
  padding: 15px;
}

@media screen and (max-width: 800px) {
  .notification {
    position: fixed;
    left: 400px;
    margin-left: -100px;
    width: 200px;
    background: linear-gradient(135deg, #36393F, #1c1c1c);
    text-align: center;
    color: #E88C01;
    font-size: 13px;
    font-family: opensans;
    padding: 15px;
  }
}

.auth {
  width: 100vw;
  height: 100vh;
}

.auth .title-block-auth {
  background: -webkit-gradient(linear, left top, left bottom, from(#36393F), to(#1c1c1c));
  background: linear-gradient(180deg, #36393F, #1c1c1c);
  padding-top: 10px;
}

.auth .title-auth-form {
  text-align: center;
  padding-bottom: 10px;
}

@media screen and (max-width: 700px) {
  .auth .login {
    background: linear-gradient(135deg, #36393F, #1c1c1c);
    position: absolute;
    width: 240px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-110%, -50%);
            transform: translate(-110%, -50%);
  }

  .auth .registration {
    background: linear-gradient(135deg, #36393F, #1c1c1c);
    position: absolute;
    width: 240px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(10%, -50%);
            transform: translate(10%, -50%);
  }
}

@media screen and (min-width: 700px) {
  .auth .login {
    background: linear-gradient(135deg, #36393F, #1c1c1c);
    position: absolute;
    width: 240px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-130%, -50%);
            transform: translate(-130%, -50%);
  }

  .auth .registration {
    background: linear-gradient(135deg, #36393F, #1c1c1c);
    position: absolute;
    width: 240px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(30%, -50%);
            transform: translate(30%, -50%);
  }
}

.auth .form-field {
  padding: 10px;
  border: 1px solid white;
  background: #1c1c1c;
  border-radius: 5px;
  color: white;
  width: 180px;
  margin-left: 20px;
  margin-top: 10px;
}

.auth .error-message {
  margin-left: 30px;
  font-size: 12px;
  color: #E88C01;
  font-family: opensans;
}

.auth .submit-button-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
}

.auth .submit-button-block button {
  border-radius: 5px;
  padding: 10px;
  border: none;
  background: #E88C01;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
  padding: 10px;
  margin: auto;
  cursor: pointer;
}

.auth .submit-button-block button:hover {
  background: #DDDDDD;
  color: black;
}

header.fixed-header {
  z-index: 1000;
  position: fixed;
  width: 100%;
  background: white;
  height: 53px;
  left: 260px;
  font-family: opensans;
  top: 0;
  border-bottom: 1px solid #36393F;
}

ul.user-list-of-group {
  margin-top: 20px;
  font-size: 10px;
}

ul.user-list-of-group li {
  display: inline;
  padding: 15px;
}

.members div {
  display: inline !important;
}

.member-title {
  float: left;
  margin-top: 0;
  font-size: 10px;
  margin-left: 15px;
}

.header-right-buttons {
  background: linear-gradient(135deg, #36393F, #1c1c1c);
  padding: 9px;
  position: absolute;
  right: 260px;
  margin-top: -35px !important;
  min-width: 180px;
}

.header-right-buttons button {
  margin-left: 5px;
}

.visible {
  display: block !important;
}

.unvisible {
  display: none !important;
}

.-reactjs-scrollbar-track {
  opacity: 1 !important;
  background: #36393F !important;
  width: 2px !important;
}

.-reactjs-scrollbar-thumb {
  opacity: 1 !important;
  background: #E88C01 !important;
}

.sidebar-main {
  width: 260px;
  height: 100vh;
  background: linear-gradient(135deg, #36393F, #1c1c1c);
  position: fixed;
  top: 0;
  z-index: 6000;
}

.scroll-black-content {
  padding-bottom: 160px;
}

.group-no-selected-text {
  font-family: opensans;
  font-size: 15px;
  color: white;
  padding-left: 15px;
}

div.delete-from-friends {
  background: #E88C01;
  display: block;
  float: right;
  margin-top: -16px;
  margin-right: -28px;
  width: 33px;
  height: 14px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  font-size: 9px;
  border-radius: 5px;
  text-align: center;
  color: white;
  padding: 0;
}

div.delete-from-friends:hover {
  background: #36393F;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidebar-head {
  padding: 13px 20px;
  color: #DDDDDD;
  background: -webkit-gradient(linear, left top, left bottom, from(#FD9105), to(#CB7B02));
  background: linear-gradient(180deg, #FD9105, #CB7B02);
}

.sidebar-head .username {
  color: inherit;
  font-size: 20px;
  font-family: opensans;
}

.sidebar-head .logout {
  font-size: 10px;
  background: black;
  color: white;
  border-radius: 0 0 5px 5px;
  padding: 2px 5px;
  width: 30px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 20px;
}

.sidebar-head .icons {
  float: right;
  margin-top: -28px;
  font-size: 25px;
}

.sidebar-head .icons .update-marker-friendship-list {
  background: white;
  border: 2px solid #E88C01;
  width: 10px;
  height: 10px;
  border-radius: 7px;
  position: absolute;
  right: 15px;
  top: 8px;
}

.sidebar-head .icons span {
  cursor: pointer;
  margin-left: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidebar-head .icons span:hover {
  color: white;
}

.search-friends {
  padding: 20px;
}

.search-friends input {
  padding: 10px;
  border: 1px solid white;
  background: #1c1c1c;
  border-radius: 5px;
  color: white;
  height: 17px;
  border-radius: 5px 0 0 5px !important;
  width: 158px;
}

.search-friends button {
  border-radius: 5px;
  padding: 10px;
  border: none;
  background: #E88C01;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 39px;
  width: 42px;
  position: absolute;
  left: 200px;
  border-radius: 0 5px 5px 0;
}

.search-friends button:hover {
  background: #DDDDDD;
  color: black;
}

.search-friends .search-matches-list {
  font-size: 15px;
  position: absolute;
  color: black;
  background: white;
  z-index: 200;
  top: 110px;
  width: 180px;
  font-family: opensans;
}

.search-friends .search-matches-list ul li {
  padding: 5px;
  margin: 2px;
  cursor: pointer;
}

.search-friends .search-matches-list ul li:hover {
  color: white;
  background: #E88C01;
}

.contacts {
  color: #DDDDDD;
}

.contacts .title {
  padding: 20px;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#36393F), to(#1c1c1c));
  background: linear-gradient(180deg, #36393F, #1c1c1c);
  color: #E88C01 !important;
}

.contacts .title h3 {
  font-size: 12px;
}

.contacts .title .arrow-up {
  position: absolute;
  left: 220px;
  margin-top: -22px;
  font-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.contacts .title .arrow-down {
  position: absolute;
  left: 220px;
  margin-top: -22px;
  font-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.contacts .list {
  background: #DDDDDD;
  color: black;
  border-right: 2px solid #36393F;
  border-left: 2px solid #36393F;
}

.contacts .list ul .active-contact {
  border-left: 4px solid #E88C01;
  padding-left: 16px !important;
  color: #E88C01;
}

.contacts .list ul li {
  padding: 10px 20px;
  font-family: opensans;
  font-size: 12px;
  cursor: pointer;
}

.contacts .list ul li:hover {
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  color: #E88C01;
}

.friend-name {
  background: red;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-left: -20px;
  margin-top: -10px;
  margin-bottom: -10px;
  display: inline-block;
  width: 236px;
  background: #DDDDDD;
}

.right-contacts-li-element {
  float: right;
}

.notice-new {
  margin-left: 5px;
  border-radius: 5px;
  padding: 5px;
  width: 30px;
  font-size: 0.6em;
  display: inline;
  background: #E88C01;
  color: white;
}

.online-status {
  background: #E88C01;
  display: block;
  float: right;
  margin-top: -12px;
  margin-right: 5px;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  border-radius: 3px;
  background: #E88C01;
}

.offline-status {
  background: #E88C01;
  display: block;
  float: right;
  margin-top: -12px;
  margin-right: 5px;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  border-radius: 3px;
  background: gray;
}

.history-block {
  z-index: 5000;
  position: fixed;
  top: 0;
  background: linear-gradient(135deg, #36393F, #1c1c1c);
  width: 240px;
  height: 50vh;
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  overflow: hidden;
  font-family: 'opensans';
}

.history-block p {
  padding: 0;
  margin: 0;
}

.history-block .more-history-btn {
  padding: 2px 5px;
  margin: 10px auto 0 auto;
  width: 80px;
  display: block;
  font-size: 11px;
}

.history-block .title-of-history {
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#36393F), to(#1c1c1c));
  background: linear-gradient(180deg, #36393F, #1c1c1c);
  padding: 5px;
  height: 11px;
}

.history-block h1 {
  text-align: center;
  color: #E88C01;
  font-size: 10px;
}

.history-block ul {
  width: 220px;
  margin-left: 10px;
  margin-right: 10px;
}

.history-block ul li {
  border: solid 1px #E88C01;
  margin-top: 10px;
  border-radius: 5px;
  background: #E88C01;
}

.history-block ul li p {
  color: white;
  font-size: 12px;
  margin: 5px 5px 0 5px;
}

.history-block ul li p.date {
  border-top: solid 1px white;
  padding-top: 3px;
  margin-top: 2px;
  margin-bottom: 5px;
  text-align: center;
  color: white;
}

.underline-orange {
  height: 1px;
  margin: 5px;
  background: #E88C01;
}

.frienship-requests-block {
  z-index: 5000;
  position: fixed;
  top: 0;
  background: linear-gradient(135deg, #36393F, #1c1c1c);
  width: 260px;
  height: 205px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
}

.frienship-requests-block .caption-friendsip-requests {
  padding: 5px 5px 0px 5px;
  color: #E88C01;
  font-family: opensans;
  font-size: 12px;
}

.frienship-requests-block .some-frienship-request li {
  background-color: #E88C01;
  color: white;
  font-family: opensans;
  font-size: 15px;
  padding: 10px;
  margin: 5px;
}

.frienship-requests-block .some-frienship-request li .response-on-friendship-request {
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  float: right;
  font-size: 12px;
}

.frienship-requests-block .some-frienship-request li .response-on-friendship-request .response-action {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.frienship-requests-block .some-frienship-request li .response-on-friendship-request .response-action:hover {
  color: #DDDDDD;
}

.group-manager-block {
  z-index: 5000;
  top: 0;
  position: fixed;
  width: 260px;
  height: 100vh;
  background: linear-gradient(135deg, #36393F, #1c1c1c);
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.group-manager-block .group-manager-tabs {
  color: #E88C01;
  font-family: opensans;
  font-size: 12px;
  background: -webkit-gradient(linear, left top, left bottom, from(#36393F), to(#1c1c1c));
  background: linear-gradient(180deg, #36393F, #1c1c1c);
}

.group-manager-block .group-manager-tabs ul {
  width: 100%;
  text-align: center;
}

.group-manager-block .group-manager-tabs ul li {
  display: inline-block;
  padding: 2px 20px;
  cursor: pointer;
}

.group-manager-block .group-manager-tabs ul li:hover {
  color: white;
}

.group-manager-block .group-manager-tabs ul .active-tab {
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#FD9105), to(#CB7B02));
  background: linear-gradient(180deg, #FD9105, #CB7B02);
}

.update-selected-group button.add-checked-friends-to-group {
  width: 232px;
  margin-top: 15px;
  margin-left: 15px;
  padding: 5px 0;
}

.leave-group button.leave-selected-group {
  width: 232px;
  margin-top: 15px;
  margin-left: 15px;
  padding: 5px 0;
}

.make-new-group input.new-group-name {
  padding: 10px;
  border: 1px solid white;
  background: #1c1c1c;
  border-radius: 5px;
  color: white;
  width: 210px;
  margin-top: 15px;
  margin-left: 15px;
  border-radius: 5px 5px 0 0;
}

.make-new-group button.create-group {
  border-radius: 5px;
  padding: 10px;
  border: none;
  background: #E88C01;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 232px;
  border-radius: 0 0 5px 5px;
  margin: 0 15px;
  padding: 5px;
  font-size: 10px;
}

.make-new-group button.create-group:hover {
  background: #DDDDDD;
  color: black;
}

.list-select-member-to-group {
  font-family: opensans;
  padding: 5px 15px;
  color: white;
  padding-bottom: 200px !important;
}

.list-select-member-to-group ul li {
  padding: 5px 0px;
  cursor: pointer;
}

.list-select-member-to-group ul li:hover {
  color: #E88C01;
}

.list-select-member-to-group ul li span.add-to-group-friend {
  color: #E88C01;
  float: right;
}

.chat {
  position: absolute;
  left: 260px;
}

.member-list {
  z-index: 1000;
  padding: 5px 265px 5px 5px;
  background: white;
  border-bottom: 1px solid #E88C01;
  position: fixed;
  width: 100vw;
  font-family: opensans;
  font-size: 12px;
}

.member-list h1 {
  font-family: opensans;
  font-size: 12px;
  color: #36393F !important;
  float: left;
  margin-right: 5px;
}

.member-list ul {
  color: #E88C01;
}

.member-list ul li {
  display: inline;
  margin-right: 5px;
}

form.message-form {
  position: fixed;
  left: 260px;
  bottom: 0;
  width: 100vw;
  background: black;
}

form.message-form .message-block {
  margin-right: 270px !important;
}

form.message-form textarea {
  height: 60px;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  font-family: opensans;
  font-size: 12px;
}

form.message-form button {
  width: 100%;
  padding: 5px !important;
  margin-right: 270px !important;
}

.message-list {
  padding-bottom: 90px !important;
  padding-top: 30px !important;
  padding: 10px;
}

.message-out-block {
  margin: 10px 0;
}

.message {
  max-width: 600px;
  display: inline-block;
  background: white !important;
  color: #36393F;
  padding: 15px;
  border-radius: 10px;
  font-family: opensans;
  font-size: 12px;
}

.message hr {
  color: white;
  background: white;
  opacity: 0.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: opensans;
}

body {
  margin: 0px;
  padding: 0px;
  background: lightgray;
  background-attachment: fixed;
}

.main {
  width: 1000px !important;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.hide {
  display: none;
}

button {
  border-radius: 5px;
  padding: 10px;
  border: none;
  background: #E88C01;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

button:hover {
  background: #DDDDDD;
  color: black;
}

