.chat {
  min-width: 100vw;
  min-height: 100vh;
  background: url(http://widefon.com/_ld/156/79476541.jpg);
  background-attachment: fixed;
}

.message {
  width: 500px;
  height: 100px;
  background: white !important;
  color: black;
  margin-top: 600px !important;
}