.chat {
  position: absolute;
  left: $width_sidebar;
}

.member-list {
  z-index: 1000;
  padding: 5px $width_sidebar + 5px 5px 5px;
  background: white;
  border-bottom: 1px solid $orange;
  position: fixed;
  width: 100vw;
  font-family: opensans;
  font-size: 12px;

  h1 {
    font-family: opensans;
    font-size: 12px;
    color: $dark_gray !important;
    float: left;
    margin-right: 5px;
  }

  ul {
    color: $orange;

    li {
      display: inline;
      margin-right: 5px;
    }
  }
}

form.message-form {
  position: fixed;
  left: $width_sidebar;
  bottom: 0;
  width: 100vw;
  background: black;

  .message-block {
    margin-right: $width_sidebar + 10px !important;
  }

  textarea {
    height: 60px;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    font-family: opensans;
    font-size: 12px;
  }

  button {
    width: 100%;
    padding: 5px !important;
    margin-right: $width_sidebar + 10px !important;
  }
}

.message-list {
  padding-bottom: 90px !important;
  padding-top: 30px !important;
  padding: 10px;
}

.username-of-writer-message {

}

.message-out-block {
  margin: 10px 0;
}

.message {
  max-width: 600px;
  display: inline-block;
  background: white !important;
  color: $dark_gray;
  padding: 15px;
  border-radius: 10px;
  font-family: opensans;
  font-size: 12px;

  hr {
    color: white;
    background: white;
    opacity: 0.5;
  }
}