@font-face {
	font-family: opensans;
	src: url('../fonts/opensans.ttf');
}

@font-face {
	font-family: 'decorfont';
	src: url('../fonts/tt1018m_.ttf');
}

@font-face {
	font-family: 'raleway';
	src: url('../fonts/Raleway-Medium.ttf');
}