$padding_blocks: 20px;

.visible {
	display: block !important;	
}

.unvisible {
	display: none !important;
}

.sidebar-main {
	width: $width_sidebar;
	height: 100vh;	
	background: $diagonal_gray_gradient;
	position: fixed;
}

.scroll-black-content {
	padding-bottom: 160px;
}

.sidebar-head {
	padding: 13px 20px;
	color: $light_gray;
	background: $vertical_orange_gradient;

	.username {
		color: inherit;
		font-size: 20px;
		font-family: opensans;
	}

	.logout {
		font-size: 10px;
		background: black;
		color: white;
		border-radius: 0 0 5px 5px;
		padding: 2px 5px;
		width: 30px;
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 20px;
	}

	.icons {
		float: right;
		margin-top: -28px;
		font-size: 25px;

		.update-marker-friendship-list {
			background: white;
			width: 10px;
			height: 5px;
			border-radius: 0 0 5px 5px;
			position: absolute;
			right: 30px;
		}

		span {
			cursor: pointer;
			margin-left: 15px;
			transition: $transition;

			&:hover {
				color: white;
			}
		}
	}
}

.frienship-requests-block {
	position: absolute;
	top: 0;
	background: $diagonal_gray_gradient;
	width: $width_sidebar;
	height: 205px;
	transition: $transition;
	overflow: hidden;

	.caption-friendsip-requests {
		padding: 5px 5px 0px 5px;
		color: $orange;
		font-family: opensans;
		font-size: 12px;
	}

	.underline-orange {
		height: 1px;
		margin: 5px;
		background: $orange;
	}

	.some-frienship-request {

		li {
			background-color: $orange;
			color: white;
			font-family: opensans;
			font-size: 15px;
			padding: 10px;
			margin: 5px;

			.response-on-friendship-request {
				@include disallow-text-selection;
				float: right;
				font-size: 12px;

				.response-action {
					cursor: pointer;
					transition: $transition;

					&:hover {
						color: $light_gray;
					}
				}
			}
		}
	}
}

.search-friends {
	@include standard-sidebar-paddings;

	input {
		@include input;
		height: 17px;
		border-radius: 5px 0 0 5px !important;
		width: $width_sidebar - 102px;
	}

	button {
		@include button;
		height: 39px;
		width: 42px;
		position: absolute;
		left: $width_sidebar - 60px;
		border-radius: 0 5px 5px 0;
	}

	.search-matches-list {
		font-size: 15px;
		position: absolute;
		color: black;
		background: white;
		z-index: 200;
		top: 110px;
		width: 180px;
		font-family: opensans;

		ul {
			li {
				padding: 5px;
				margin: 2px;
				cursor: pointer;

				&:hover {
					color: white;
					background: $orange;
				}
			}
		}
	}
}

.contacts {
	color: $light_gray;

	.title {
		@include standard-sidebar-paddings;
		@include disallow-text-selection;
		padding-top: 10px !important;
		padding-bottom: 10px !important;
		background: linear-gradient(180deg, $dark_gray, #1c1c1c);
		color: $orange !important;

		h3 {
			font-size: 12px;
		}

		@mixin arrow {
			position: absolute;
			left: $width_sidebar - 40px;
			margin-top: -22px;
			font-size: 20px;
			transition: $transition;
			cursor: pointer;
		}

		.arrow-up {
			@include arrow;
		}

		.arrow-down {
			@include arrow;
			transform: rotate(-180deg);
		}
	}

	.list {
		background: $light_gray;
		color: black;
		border-right: 2px solid $dark_gray;
		border-left: 2px solid $dark_gray;
		ul {

			.active-connect {
				border-left: 4px solid $orange;
				padding-left: 10px - 4px !important;
			}

			li {
				padding: 10px $padding_blocks;
				font-family: opensans;	
				font-size: 12px;
				cursor: pointer;

				&:hover {
					@include disallow-text-selection;
					color: $orange;
				}
			}
		}
	}
}

.right-contacts-li-element {
	float: right;
}

.notice-new {
	margin-right: 10px;
	margin-top: -5px;
	padding: 5px;
	float: right;
	background: $orange;
	color: $dark_gray;
}

@mixin user-status {
	margin-right: 3px;
	margin-top: 3px;
	width: 10px;
	height: 10px;
	border-radius: 5px;	
	float: right;
}

.online-status {
	@include user-status;
	background: $orange;
}

.offline-status {
	@include user-status;
	background: gray;
}

.group-manager-block {
	position: absolute;
	width: $width_sidebar;
	height: 100vh;
	background: $diagonal_gray_gradient;
	transition: $transition;

	input.new-group-name {
		@include input;
		width: $width_sidebar - 35px;
		margin: 5px;
	}

	button.create-group {
		@include button;
		width: $width_sidebar - 12px;
		border-radius: 5px;
		margin: 5px;
		padding: 10px;
	}

	.list-select-member-to-group {
		font-family: opensans;
		padding: 5px 15px;
		color: white;
		padding-bottom: 200px !important;
		
		ul {
			li {
				padding: 5px 0px;
				cursor: pointer;
				transition: $transition;

				&:hover {
					color: $orange;
				}

				span.added-top-group-friend {
					color: $orange;
					float: right;
				}
			}
		}

	}

}
