$padding_blocks: 20px;

.visible {
	display: block !important;	
}

.unvisible {
	display: none !important;
}

.-reactjs-scrollbar-track {
	opacity: 1 !important;
	background: $dark_gray !important;
	width: 2px !important;
}

.-reactjs-scrollbar-thumb {
	opacity: 1 !important;
	background: $orange !important;	
}

.sidebar-main {
	width: $width_sidebar;
	height: 100vh;	
	background: $diagonal_gray_gradient;
	position: fixed;
	top: 0;
	z-index: 6000;
}

.scroll-black-content {
	padding-bottom: 160px;
}

.group-no-selected-text {
	font-family: opensans;
	font-size: 15px;
	color: white;
	padding-left: 15px;
}

@mixin leaveContactBtn {
	background: $orange;
  display: block;
  float: right;
  margin-right: -28px;
  width: 33px;
  height: 14px;
  transform: rotate(270deg);
  font-size: 9px;
  border-radius: 5px;

  &:hover {
  	background: $dark_gray;
  	transition: $transition;
  }

	text-align: center;
  color: white;
  padding: 0;
}

.delete-from-friends {
	@include leaveContactBtn;
	margin-top: -16px;
}

.leave-public-group {
	@include leaveContactBtn;
}

.sidebar-head {
	padding: 13px 20px;
	color: $light_gray;
	background: $vertical_orange_gradient;

	.username {
		color: inherit;
		font-size: 20px;
		font-family: opensans;
	}

	.logout {
		font-size: 10px;
		background: black;
		color: white;
		border-radius: 0 0 5px 5px;
		padding: 2px 5px;
		width: 30px;
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 20px;
	}

	.icons {
		float: right;
		margin-top: -28px;
		font-size: 25px;

		.update-marker-friendship-list {			
			background: white;
			border: 2px solid $orange;
			width: 10px;
			height: 10px;
			border-radius: 7px;
			position: absolute;
			right: 15px;
			top: 8px;
		}

		span {
			cursor: pointer;
			margin-left: 15px;
			transition: $transition;

			&:hover {
				color: white;
			}
		}
	}
}

.search-friends {
	@include standard-sidebar-paddings;

	input {
		@include input;
		height: 17px;
		border-radius: 5px 0 0 5px !important;
		width: $width_sidebar - 102px;
	}

	button {
		@include button;
		height: 39px;
		width: 42px;
		position: absolute;
		left: $width_sidebar - 60px;
		border-radius: 0 5px 5px 0;
	}

	.search-matches-list {
		font-size: 15px;
		position: absolute;
		color: black;
		background: white;
		z-index: 200;
		top: 110px;
		width: 180px;
		font-family: opensans;

		ul {
			li {
				padding: 5px;
				margin: 2px;
				cursor: pointer;

				&:hover {
					color: white;
					background: $orange;
				}
			}
		}
	}
}

.contacts {
	color: $light_gray;

	.title {
		@include standard-sidebar-paddings;
		@include disallow-text-selection;
		padding-top: 10px !important;
		padding-bottom: 10px !important;
		background: linear-gradient(180deg, $dark_gray, #1c1c1c);
		color: $orange !important;

		h3 {
			font-size: 12px;
		}

		@mixin arrow {
			position: absolute;
			left: $width_sidebar - 40px;
			margin-top: -22px;
			font-size: 20px;
			transition: $transition;
			cursor: pointer;
		}

		.arrow-up {
			@include arrow;
		}

		.arrow-down {
			@include arrow;
			transform: rotate(-180deg);
		}
	}

	.list {
		background: $light_gray;
		color: black;
		border-right: 2px solid $dark_gray;
		border-left: 2px solid $dark_gray;
		ul {

			.active-contact {
				border-left: 4px solid $orange;
				padding-left: 20px - 4px !important;
				color: $orange;
			}

			li {
				padding: 10px $padding_blocks;
				font-family: opensans;	
				font-size: 12px;
				cursor: pointer;

				&:hover {
					@include disallow-text-selection;
					color: $orange;
				}
			}
		}
	}
}

.friend-name {
	background: red; 
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	margin-left: -20px;
	margin-top: -10px;
	margin-bottom: -10px;
	display: inline-block;
	width: 236px;
	background: $light_gray;
}

.right-contacts-li-element {
	float: right;
}

.notice-new {
	margin-left: 5px;
	border-radius: 5px;
	padding: 5px;
	width: 30px;
	font-size: 0.6em;
	display: inline;
	background: $orange;
	color: white;
}

@mixin user-status {
	background: $orange;
  display: block;
  float: right;
  margin-top: -12px;
  margin-right: 5px;
  width: 6px;
  height: 6px;
  transform: rotate(270deg);
  border-radius: 3px;
}

.online-status {
	@include user-status;
	background: $orange;
}

.offline-status {
	@include user-status;
	background: gray;
}

.history-block {
	z-index: 5000;
	position: fixed;
	top: 0;
	background: $diagonal_gray_gradient;
	width: $width_sidebar - 20px;
	height: 50vh;
	transition-property: left;
	transition-duration: $transition;
	overflow: hidden;
	font-family: 'opensans';

	p {
		padding: 0;
		margin: 0;
	}

	.more-history-btn {
		padding: 2px 5px;
		margin: 10px auto 0 auto;
		width: 80px;
    display:block;
    font-size: 11px;
	}

	.title-of-history {
		background: white;
		background: $vertical_gray_gradient;
		padding: 5px;
		height: 11px;
	}

	h1 {
		text-align: center;
		color: $orange;
		font-size: 10px;
	}

	ul {
		width: 220px;
		margin-left: 10px;
		margin-right: 10px;

		li {
			border: solid 1px $orange;
			margin-top: 10px;
			border-radius: 5px;
			background: $orange;

			p {
				color: white;
				font-size: 12px;
				margin: 5px 5px 0 5px;
			}

			p.date {
				border-top: solid 1px white;
				padding-top: 3px;
				margin-top: 2px;
				margin-bottom: 5px;
				text-align: center;
				color: white;
			}
		}
	}
}

.underline-orange {
	height: 1px;
	margin: 5px;
	background: $orange;
}

.frienship-requests-block {
	z-index: 5000;
	position: fixed;
	top: 0;
	background: $diagonal_gray_gradient;
	width: $width_sidebar;
	height: 205px;
	transition: $transition;
	overflow: hidden;

	.caption-friendsip-requests {
		padding: 5px 5px 0px 5px;
		color: $orange;
		font-family: opensans;
		font-size: 12px;
	}

	.some-frienship-request {

		li {
			background-color: $orange;
			color: white;
			font-family: opensans;
			font-size: 15px;
			padding: 10px;
			margin: 5px;

			.response-on-friendship-request {
				@include disallow-text-selection;
				float: right;
				font-size: 12px;

				.response-action {
					cursor: pointer;
					transition: $transition;

					&:hover {
						color: $light_gray;
					}
				}
			}
		}
	}
}

.group-manager-block {
	z-index: 5000;
	top: 0;
	position: fixed;
	width: $width_sidebar;
	height: 100vh;
	background: $diagonal_gray_gradient;
	transition-property: left;
	transition-duration: $transition;

	.group-manager-tabs {
		color: $orange;
		font-family: opensans;
		font-size: 12px;
		background: $vertical_gray_gradient;

		ul {
			width: 100%;
			text-align: center;

			li {
				display: inline-block;
				padding: 2px 20px;
				cursor: pointer;

				&:hover {
					color: white;
				}
			}

			.active-tab {
				color: white;
				background: $vertical_orange_gradient;
			}
		}
	}
}

.update-selected-group {

	button.add-checked-friends-to-group {
		width: $width_sidebar - 28px;
		margin-top: 15px;
		margin-left: 15px;
		padding: 5px 0;
	}
}

.leave-group {
	button.leave-selected-group {
		width: $width_sidebar - 28px;
		margin-top: 15px;
		margin-left: 15px;
		padding: 5px 0;
	}	
}

.make-new-group {

	input.new-group-name {
		@include input;
		width: $width_sidebar - 50px;
		margin-top: 15px;
		margin-left: 15px;
		border-radius: 5px 5px 0 0;
	}

	button.create-group {
		@include button;
		width: $width_sidebar - 28px;
		border-radius: 0 0 5px 5px;
		margin: 0 15px;
		padding: 5px;
		font-size: 10px;
	}
}

.list-select-member-to-group {
	font-family: opensans;
	padding: 5px 15px;
	color: white;
	padding-bottom: 200px !important;
	
	ul {
		li {
			padding: 5px 0px;
			cursor: pointer;

			&:hover {
				color: $orange;
			}

			span.add-to-group-friend {
				color: $orange;
				float: right;
			}
		}
	}
}
