//theme colors
$orange: #E88C01;
$dark_gray: #36393F;
$light_gray: #DDDDDD;
$diagonal_gray_gradient: linear-gradient(135deg, #36393F, #1c1c1c);
$vertical_gray_gradient: linear-gradient(180deg, #36393F, #1c1c1c);
$vertical_orange_gradient: linear-gradient(180deg, #FD9105, #CB7B02);

//
$width_sidebar: 260px;
$transition: 0.3s;